@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=Iceland&display=swap');

/* Reset all the styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Iceland', cursive;
}


/* Colors */

:root {
  --background: #232323;
  --on-background: #FFFFFF;
}


/* Base styles */

body {
  background-color: var(--background);
  color: var(--on-background);
  padding: 2rem;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

input[type="text"],
input[type="submit"] {
  border: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1rem;
}

button {
  border: none;
  background-color: transparent;
}


/*
Flaticon icon font: Flaticon
Creation date: 11/08/2019 18:46
*/

@font-face {
  font-family: "Flaticon";
  src: url("./icons/Flaticon.eot");
  src: url("./icons/Flaticon.eot?#iefix") format("embedded-opentype"),
        url("./icons/Flaticon.woff2") format("woff2"),
        url("./icons/Flaticon.woff") format("woff"),
        url("./icons/Flaticon.ttf") format("truetype"),
        url("./icons/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./icons/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 1rem;
  font-style: normal;
}

.flaticon-down-arrow:before { content: "\f100"; }
.flaticon-up-arrow:before { content: "\f101"; }
.flaticon-right-arrow:before { content: "\f102"; }
.flaticon-left-arrow:before { content: "\f103"; }
.flaticon-turn-left:before { content: "\f104"; }
.flaticon-next:before { content: "\f105"; }
.flaticon-caret-arrow-up:before { content: "\f106"; }
.flaticon-mountain-range:before { content: "\f107"; }
.flaticon-rock:before { content: "\f108"; }
.flaticon-moon-with-craters:before { content: "\f109"; }
.flaticon-satellite-dish:before { content: "\f10a"; }


/* Modules */

.app {
  max-width: 960px;
  margin: 0 auto;
}

.main-title {
  color: yellow;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: 'Audiowide', cursive;
}

.logo {
  display: block;
  max-width: 64px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
  z-index: 100;
}

.lightbox--is-closed {
  display: none;
}

.modal {
  position: absolute;
  width: 95%;
  max-width: 960px;
  left: 50%;
  top: 4rem;
  transform: translateX(-50%);
  background-color: #00363a;
  color: #FFFFFF;
  padding: 3rem 2rem;
  border: 2px solid yellow;
  
}

.modal__header h2 {
  color: yellow;
  margin-bottom: 2rem;
}

.modal__body p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.modal__body p:last-child {
  margin-bottom: 2rem;
}

.modal__footer {
  text-align: right;
}

.map {
  background-color: salmon;
  width: 300px;
  margin: auto;
  position: relative;
  margin-bottom: 3rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .35);
  outline: 2px solid crimson;
}

.map__row {
  display: grid;
  grid-template-columns: repeat(10, 30px);
}

.map__cell {
  width: 30px;
  height: 30px;
  outline: 1px solid crimson;
  position: relative;
}

.map__cell span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #232323;
}

.map__rover {
  position: absolute;
  transition: top .2s, left .2s;
  z-index: 10;
  text-shadow: 0 2px 3px rgba(0, 0, 0, .35);
}

.map__rover--ironmars {
  top: 5px;
  left: 7px;
  color: blue;
}

.map__rover--opportunity {
  left: 37px;
  top: 245px;
  color: darkgreen;
}

.button {
  cursor: pointer;
  display: inline-block;
}

.button--primary {
  background-color: yellow;
  color: #000000;
  padding: 0.5rem 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .35);
  text-transform: uppercase;
}

.button--primary:hover {
  background-color: gold;
}

.rovers {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-row-gap: 2rem;
  justify-content: space-around;
}

.rover {
  border: 1px solid yellow;
  padding: 2rem;
  background-color: #00363a;
  position: relative;
  overflow: hidden;
}

.rover h2 {
  color: yellow;
  margin-bottom: 2rem;
  text-align: center;
}

.rover__controls {
  width: 120px;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(3, 40px);
  margin: 0 auto 2rem;
}

.rover__controls button {
  width: 40px;
  height: 40px;
  color: #FFF;
  cursor: pointer;
}

.rover__controls button span {
  pointer-events: none;
}

.rover__controls button:nth-child(1) {
  grid-column-start: 2;
}

.rover__controls button:nth-child(2) {
  grid-column-start: 1;
  grid-row-start: 2;
}

.rover__controls button:nth-child(3) {
  grid-column-start: 2;
  grid-row-start: 2;
}

.rover__controls button:nth-child(4) {
  grid-column-start: 3;
  grid-row-start: 2;
}

.rover__controls button:hover {
  color: #0FF;
}

.rover__properties {
  margin-bottom: 2rem;
}

.rover__properties dt {
  color: #0FF;
}

.rover__properties dd {
  text-align: right;
}

.rover__properties div {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-bottom: .5rem;
  padding-bottom: .25rem;
  border-bottom: 1px solid rgba(255, 255, 255, .6);
}

.rover__properties div:last-child {
  margin-bottom: 0;
}

.rover__commands {
  margin-bottom: 2rem;
  text-align: center;
}

.rover__commands input[type="submit"] {
  box-shadow: none;
}

.rover__commands input[type="text"] {
  display: block;
  background-color: rgba(0, 0, 0, .2);
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: .5rem;
  margin: 0 auto 1rem;
  width: 80%;
  text-align: center;
}

.rover__commands input[type="text"]::placeholder {
  color: rgba(255, 255, 255, .7);
}

.rover__commands input[type="text"]:focus {
  border-color: yellow;
  outline: none;
}

.rover__travel-log {
  position: absolute;
  left: 0;
  top: calc(100% - 2.5rem);
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: #FFFFFF;
  overflow: auto;
  transition: top .2s;
}

.rover__travel-log--is-open {
  top: 5.5rem;
}

.rover__travel-log > div {
  padding-bottom: 5.5rem;
}

.rover__travel-log > div p span {
  color: #0FF;
}

.rover__travel-log h3 {
  background-color: yellow;
  width: 100%;
  color: #000000;
  padding: 0.5em 2rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: sticky;
  top: 0;
  font-size: 1.25rem;
}

.rover__travel-log p {
  padding: 1rem 2rem;
}

.rover__travel-log p:nth-child(even) {
  background-color: #343434;
}

.rover__travel-log:last-child {
  margin-bottom: 2rem;
}

.rover__travel-log h3:hover {
  background-color: gold;
}

.rover__travel-log h3 span {
  transition: transform .3s;
  pointer-events: none;
}

.rover__travel-log--is-open h3 span {
  transform: rotate(180deg);
}
